@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #ffffff;
    margin: 0;
    padding: 0;
    background-color: #000000;
    /* background-image: ; */
}

h1 {
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    padding: 0;
    color: #f00303;
    background-color: #3b2a2a;
    text-align: center;
    padding-bottom: 2%;
}

li {
    display: inline;
    justify-content: space-between;
}

.navbar {
    display: inline;
    justify-content: center;
    font-size: 18px;
    text-align: space-between;
    background-color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #000000;
    padding: 0;
}

.content-1 {
    display: block;
    background-color: rgb(255, 255, 255);
    color: #f000c8;
}

form {
    width: 100%;
    position: static;
    display: contents;
}

footer {
    display: flex;
    justify-content: center;
    font-size: 18px;
    text-align: space-between;
    background-color: #42293e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    color: #000000;
    padding: 0;
}